amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
coloredlogs==5.0
contextlib2==0.5.1
Django==1.8.14
django-appconf==1.0.1
django-celery==3.1.17
django-cleanup==0.4.2
django-compressor==2.0
django-countries==3.4.1
django-date-extensions==1.1.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-jenkins==0.18.1
django-registration==2.0.3
django-robots==2.0
django-simple-captcha==0.5.1
django-su==0.5.0
django-templated-email-pebble==0.6.0
django-utils2==2.0.1
eulfedora==1.5.1
eulxml==1.0.1
hiredis==0.2.0
html5lib==0.9999999
humanfriendly==1.44.5
isodate==0.5.4
keepalive==0.5
kombu==3.0.35
MySQL-python==1.2.5
oauthlib==1.0.3
ply==3.8
portalocker==0.5.7
progressbar==2.3
pycrypto==2.6.1
PyJWT==1.4.0
pyparsing==2.1.0
PyPDF2==1.25.1
python-dateutil==2.5.1
python-magic==0.4.11
python-openid==2.2.5
python-social-auth==0.2.14
python-utils==1.6.2
pytz==2016.2
raven==5.11.1
rcssmin==1.0.6
rdflib==4.2.1
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
rjsmin==1.0.12
six==1.10.0
SPARQLWrapper==1.7.6
sqlparse==0.1.19
wheel==0.29.0
decorator==4.0.9
ipython==4.1.2
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
-e git+https://github.com/WoLpH/pybagit.git@13b853551f86a4ad67f4c4ccc83f94ef0c602751#egg=pybagit
simplegeneric==0.8.1
traitlets==4.2.1
gunicorn==19.4.5
django-selectable==0.9.0
cffi==1.6.0
cryptography==1.3.2
enum34==1.1.4
idna==2.1
Pillow==3.2.0
pyasn1==0.1.9
pyOpenSSL==16.0.0
urllib3==1.15.1
google-api-python-client==1.5.1
django-cacheops==2.4.5
